 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 body {
    font-family: 'Vazir', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #10135e, #0442a0, #00286e);
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px;
}

 .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

 .form-dv {
    display: flex;
    align-items: center;
    gap: 0px;
    flex-wrap: wrap;
}

 .section {
    background: #fff;
    padding: 40px;
    width: 360px;

    border-radius:  0px 20px  20px   0px ;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.25);

    display: flex;
    flex-direction: column;
}

 h1 {
    text-align: center;
    margin-bottom: 30px;
}

 .dv-firstelemnt,
.dv-secondelemnt,
.dv-threeelemnt {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 18px;
    font-weight: bold;
}

 input {
    padding: 8px 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
    transition: 0.2s;
}

input:focus {
    outline: blue;
    border-color: #0442a0;
    box-shadow: 0 0 5px rgba(4, 66, 160, 0.4);
    transform: translateY(-5px);
 }
 

 .dv-btn {
    display: flex;
    justify-content: center;
}

button {
    margin-top: 15px;
    width: 160px;
    height: 42px;

    border: none;
    border-radius: 25px;

    background: #111;
    color: white;
    font-size: 16px;

    cursor: pointer;
    transition: 0.25s;
}

button:hover {
    background: #0442a0;
    transform: scale(1.05);
    transform: translateY(-5px);
}

 .img-dv img {
    width: 750px;
    max-width: 100%;
   border-radius:  20px  0px  0px 20px ;
    height: 528px;
    margin-top: 7px;
}

 @media (max-width: 992px) {
    .img-dv img {
        width: 500px;
        height: auto;
    }
}


@media (max-width: 768px) {

     .form-dv {
        flex-direction: column;
        gap: 20px;
    }

     .section {
        width: 100%;
        border-radius: 20px;
    }

     .img-dv img {
        width: 100%;
        height: auto;
        border-radius: 20px;
    }
}


@media (max-width: 480px) {

     .section {
        padding: 25px;
    }

    h1 {
        font-size: 18px;
    }

    input {
        font-size: 13px;
    }

    button {
        width: 120px;
        height: 38px;
        font-size: 14px;
    }
}
